autoclip: false
autoimport: true
cliptimeout: 45
exportkeys: true
nocolor: false
nopager: false
notifications: true
parsing: true
{{ if eq .Runtime.GOOS "windows" -}}
path: C:\Users\brad.jones\.password-store
{{ else -}}
path: /home/brad.jones/.password-store
{{ end -}}
safecontent: false
mounts: {}
