[core]
    eol = lf
    autocrlf = false

[push]
	default = simple

[includeIf "gitdir:~/Projects/Personal/"]
	path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:~/.password-store/"]
	path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/Projects/Personal/.gitconfig

[includeIf "gitdir:~/Projects/Xero/"]
	path = ~/Projects/Xero/.gitconfig

[credential]
	helper = store

[gpg]
	{{ if eq .chezmoi.os "windows" -}}
	program = C:\\Users\\brad.jones\\scoop\\apps\\gpg\\current\\bin\\gpg.exe
	{{ else -}}
	program = /usr/bin/gpg
	{{ end -}}

[commit]
	gpgSign = true

[tag]
	forceSignAnnotated = true
