#!/usr/bin/env bash
# .bashrc - This runs for every non-login interactive shell.

# We do pretty much all the work to configure our shell inside our rc file,
# this means some of the work will be duplicated for any given login session
# everytime a new non-login interactive shell is started. In practical terms I
# can't see this being a major issue.

# Define our path as early as possible
PATH="/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin";
PATH="$HOME/.dart/current/bin:$PATH";
PATH="$HOME/.dotnet:$PATH";
PATH="$HOME/.goenv/bin:$PATH";
PATH="$HOME/.local/bin:$PATH";
PATH="$HOME/.nodenv/bin:$PATH";
PATH="$HOME/.pkenv/bin:$PATH";
PATH="$HOME/.pub-cache/bin:$PATH";
PATH="$HOME/.pyenv/bin:$PATH";
PATH="$HOME/.rbenv/bin:$PATH";
PATH="$HOME/.tfenv/bin:$PATH";
PATH="$HOME/.tfenv/bin:$PATH";
{{ if .Runtime.IsWSL -}}
PATH="/mnt/c/Windows/System32:$PATH";
PATH="/mnt/c/Windows/System32/WindowsPowerShell/v1.0:$PATH";
PATH="/mnt/c/Program Files/Mozilla Firefox:$PATH";
PATH="/mnt/c/Program Files/Google/Chrome/Application:$PATH";
PATH="/mnt/c/Users/$USER/.scoop/apps/vscode/current/bin:$PATH";
{{ end }}

# Source global definitions
[ -f /etc/bashrc ] && . /etc/bashrc;

# Use VsCode as our editor for all the things
export EDITOR="code -w";

# Setup the ssh-agent
export SSH_AUTH_SOCK="$HOME/.ssh/agent.sock";

# Standardise UID & GID, UID is normally set but GID is not.
# So we just do both here which makes writting scripts easier.
export UID="$(id -u)" &> /dev/null || true;
export GID="$(id -g)" &> /dev/null || true;

# Tell goenv where to install go, personally I prefer all my tools and
# config to be hidden (ie: start with a dot) and all my actual data
# folders/files to be unhidden.
export GOENV_GOPATH_PREFIX="$HOME/.go";

# Configure aws-vault to use gopass to store our idenities
export AWS_VAULT_BACKEND="pass";
export AWS_VAULT_PASS_CMD="gopass";
export AWS_VAULT_PASS_PREFIX="aws-vault";
export AWS_VAULT_PASS_PASSWORD_STORE_DIR="$HOME/.password-store";

# Setup some bash auto completion
complete -C "$HOME/.local/bin/aws_completer" aws;
eval "$(aws-vault --completion-script-bash)";
eval "$(gopass completion bash)";

# Setup all our tool version managers
. "$HOME/.sdkman/bin/sdkman-init.sh";
eval "$(nodenv init -)";
eval "$(pyenv init -)";
eval "$(rbenv init -)";
eval "$(goenv init -)";
PATH="$PATH:$GOROOT/bin";
PATH="$PATH:$GOPATH/bin";

# We have some scripts which add additional functionality to existing tools
# so we ensure these tools appear on the PATH first.
PATH="$HOME/.local/sbin/bin:$PATH";

# Rdp shortcuts
alias rdp-xero-bastion-paas-prod='bash -c "rdp -g \"rdgw-prod.xero-support.com\" -h \"msrds.vpc-807ec9e4.inbound.xero-support.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-bastion-payroll-prod='bash -c "rdp -g \"rdgw-prod.xero-support.com\" -h \"msrds.vpc-89263bee.inbound.xero-support.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-bastion-payroll-test='bash -c "rdp -g \"rdgw-test.xero-support.com\" -h \"msrds.vpc-94dd34f0.inbound.xero-support.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-bastion-payroll-uat='bash -c "rdp -g \"rdgw-uat.xero-support.com\" -h \"msrds.vpc-95b542f2.inbound.xero-support.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';

alias rdp-xero-payroll-test-pod1='bash -c "rdp -h \"pod.pod1.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod2='bash -c "rdp -h \"pod.pod2.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod3='bash -c "rdp -h \"pod.pod3.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod4='bash -c "rdp -h \"pod.pod4.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod5='bash -c "rdp -h \"pod.pod5.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod6='bash -c "rdp -h \"pod.pod6.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod7='bash -c "rdp -h \"pod.pod7.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod8='bash -c "rdp -h \"pod.pod8.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod9='bash -c "rdp -h \"pod.pod9.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod10='bash -c "rdp -h \"pod.pod10.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod11='bash -c "rdp -h \"pod.pod11.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod12='bash -c "rdp -h \"pod.pod12.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod13='bash -c "rdp -h \"pod.pod13.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod15='bash -c "rdp -h \"pod.pod15.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';
alias rdp-xero-payroll-test-pod16='bash -c "rdp -h \"pod.pod16.people.xero-test.com\" -u \"XOAWSMAN\brad.jones\" -p \"$(gopass websites/xero.okta.com/brad.jones@xero.com)\""';

alias rdp-xero-payroll-test-pod1-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod1-B26-branch4\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod2-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod2-B40-branch15\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod3-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod3-B44-branch44\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod4-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod4-B18-branch48\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod5-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod5-B30-pod5\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod6-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod6-B34-branch4\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod7-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod7-B94-branch4\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod8-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod8-B32-branch44\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod9-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod9-B29-branch48\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod10-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod10-B81-branch4\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod11-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod11-B14-branch4\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod12-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod12-B76-branch44\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod13-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod13-B11-branch44\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod15-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod15-B3-branch4\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';
alias rdp-xero-payroll-test-pod16-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"podserver-pod16-B33-<default>\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-devops.pem)\""';

alias rdp-xero-payroll-test-pod1-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod1-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod2-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod2-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod3-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod3-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod4-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod4-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod5-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod5-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod6-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod6-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod7-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod7-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod8-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod8-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod9-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod9-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod10-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod10-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod11-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod11-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod12-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod12-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod13-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod13-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod15-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod15-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
alias rdp-xero-payroll-test-pod16-db-admin='bash -c "rdp --profile \"xero-payroll-test\" --ec2 \"pod16-db-instance\" --key \"$(gopass bin cat keys/ssh/xero-payroll-test/payroll-dev-public.pem)\""';
