AddKeysToAgent yes

{{ if eq .chezmoi.hostname "XLW-5CD936CWNQ" -}}
Host dev-server
  HostName dev-server.hyper-v.local
  User brad.jones
  IdentityFile C:\Users\brad.jones\.ssh\id_rsa
  StrictHostKeyChecking no
{{ end -}}
